<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikroshlab.vtmexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ikroshlab.vtmexample.test.Samples"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ikroshlab.vtmexample.test.MapsforgeMapActivity$MapFilePicker" />

        <activity
            android:name="com.ikroshlab.vtmexample.test.MapsforgeMapActivity"
            android:label="@string/title_activity_map" >
        </activity>

        <activity
            android:name="com.ikroshlab.vtmexample.test.ForgeOnlineMapActivity"
            android:label="@string/title_activity_map" >
        </activity>

        <activity
            android:name="com.ikroshlab.vtmexample.test.LocationActivity"
            android:label="@string/title_activity_map" >
        </activity>

    </application>
</manifest>
